{{!-- <!DOCTYPE html>
<html lang="ko" {{#if class}} class="{{class}}"{{/if}}>
  {{> head title='orange touch'}}
  <body>
    <div class="wrap">
      {{> @partial-block }}
    </div>
  </body>
</html> --}}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{> @partial-block }}
  </body>
</html>
