<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no"
  />
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../js/lib/swiper-bundle.min.css" />
  <script
    type="text/javascript"
    src="../../js/lib/jquery-3.5.1.min.js"
  ></script>
  <script
    type="text/javascript"
    src="../../js/lib/swiper-bundle.min.js"
  ></script>
  <script type="text/javascript" src="../../js/select-ui.js"></script>
  <title>{{title}}</title>
</head>